<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIS识别算法</title>
</head>
<body style="background-color:gray; margin: auto;">
<div align="center">
    <h1>目标识别算法</h1><hr width='80%'/>
    <a> 1> 舰船类型识别</a>
    <a href="/ship_type"> <button>MMSI</button></a>
    <a href="/ship_type"> <button>本地CSV</button></a><br><br>
    <a href="/ship_status">2> 舰船状态识别</a><br><br>
    <a href="/radar_type">3> 雷达型号识别</a><br><br>
    <hr width='80%'/>
    <input style="background-color:red" type="button" value="open1"><br><br>
    <button type="button" onclick="open_function()"> open2</button>
    <hr width='80%'/>
    <p>这是内容页！</p>

</div>
</body>
</html>
